

body{
    margin: 0;
    padding: 0;
   font-family: 'Poppins', sans-serif;   
}

.header{
    display: flex;
    height: 600px;
    background-image: url(imgas/top-banner.png);
    background-repeat: no-repeat;   
}

.banner{
    
    margin-top: 3%;
    margin-left: 5%;
    float: left;
    width: 50%;
    padding-left: 2%;   
}


.title h1 {
    font-size: 45px;

}
.title h3 {
    font-size: 35px;
 
}

.orenge-highlite {
    color: orange;
}

.sub-title p {  
    color: dimgray;
    
}
.sub-title h3 {
  font-size: 20px;
}

.heading-img{
   
    width: 50%;
    float: right;
    padding-left: 2%;
    margin-left: 5%;


}
.heading-img img{
   
    float: left;
    /* margin-left: 5%; */
    width: 90%;
}
.hereme-button{
    background-image: linear-gradient(45deg , lightsalmon,tomato);
    width: 150px;
    height: 35px;
    text-align: center;
  
    
    margin: 10px 0px;
    border-radius: 6px;
    padding-top: 5px;
  
}
.hereme-button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
   

}
.resume{
    display: flex;
    height: 600px;
    background-image: url(imgas/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.banner-margin{
    margin-left: 0;
    margin-right: 5%;
    
}
.resume-text{
    margin-right: 16%;
}
.section-title{
  height: 500px;
  


}
.card-section h2{
    font-size: 40px;
    
    
 

}
.section-title{
    display: flex;
  
 
   justify-content: center;
   background-image: url(imgas/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
 
 

   
  

}
.left-half{
    width: 33%;
    
 
    margin: auto;
     padding: 0 4%;
     border-image: linear-gradient(180deg , salmon , tomato);
    
}
.right-half{
    width: 33%;
    float: right;
    margin: auto;
    padding: 0 4%;
    border-image: linear-gradient(180deg , rgb(51, 53, 168),rgb(47, 197, 243));
    height: 80%;
 
}
.card-design{
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image-slice: 1;
    height: 80%;
   
}
footer{
    text-align: center;
    color: grey;
}