

body{
    margin: 0;
    padding: 0;
   font-family: 'Poppins', sans-serif;   
}

.header{
    display: flex;
    height: 600px;
    background-image: url(imgas/top-banner.png);
    background-repeat: no-repeat;   
}

.banner{
    
    margin-top: 3%;
    margin-left: 5%;
    float: left;
    width: 50%;
    padding-left: 2%;   
}


.title h1 {
    font-size: 45px;

}
.title h3 {
    font-size: 35px;
 
}

.title span {
    color: orange;
}
.sub-title p {  
    color: dimgray;
    
}
.sub-title h3 {
  font-size: 20px;
}

.heading-img{
   
    width: 50%;
    float: right;
    padding-left: 2%;
    margin-left: 5%;


}
.heading-img img{
   
    float: left;
    /* margin-left: 5%; */
    width: 90%;
}
.hereme-button{
    background-image: linear-gradient(45deg , lightsalmon,tomato);
    width: 150px;
    height: 35px;
    text-align: center;
  
    
    margin: 10px 0px;
    border-radius: 6px;
    padding-top: 5px;
  
}
.hereme-button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
   

}
.resume{
    display: flex;
    height: 600px;
    background-image: url(imgas/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.banner-margin{
    margin-left: 0;
    margin-right: 5%;
    
}